@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/public/fonts/Ubuntu/Ubuntu-Regular.ttf) format('woff2');
    }
  }